<!-- End Header -->
  <%- include('partials/header') -%>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Portfolio Details</li>
            <li><%-results['Title'] -%></li>
            
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="/img/portfolio/<%-img[0]-%>" style="max-height: 70vh;max-width: 70vw; width: initial;" alt="">
            <img src="/img/portfolio/<%-img[1]-%>" style="max-height: 70vh;max-width: 70vw; width: initial;" class="" alt="">
            <img src="/img/portfolio/<%-img[2]-%>" style="max-height: 70vh;max-width: 70vw; width: initial;" class="" alt="">
          </div>

          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
                <li><strong>Category</strong>:<%-results['category'] -%></li>
                <li><strong>Project date</strong>: <%-results['date'] -%></li>
                <li><strong>Youtube URL</strong>: <a href="<%-results['yt']-%>"><%-results['Title']-%></a></li> 
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2><%-results['Title']-%></h2><p><%-results['description']-%></p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
  <script src="/js/portfolioDetails.js"></script>
  </main><!-- End #main -->
  <%- include('partials/footer') -%>

